<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AdminProductServlet</display-name>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>com.dev.AdminProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/AdminProductServlet</url-pattern>
  </servlet-mapping>
  <display-name>Product Manager and E-Commerce Integration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Purchase_Servlet</display-name>
    <servlet-name>Purchase_Servlet</servlet-name>
    <servlet-class>com.dev.Purchase_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase_Servlet</servlet-name>
    <url-pattern>/Purchase_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Purchase</display-name>
    <servlet-name>Purchase</servlet-name>
    <servlet-class>com.dev.Purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/Purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_P</display-name>
    <servlet-name>Servlet_P</servlet-name>
    <servlet-class>com.Servlet_P</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_P</servlet-name>
    <url-pattern>/Servlet_P</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buy_Servlet</display-name>
    <servlet-name>Buy_Servlet</servlet-name>
    <servlet-class>com.dev.Buy_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buy_Servlet</servlet-name>
    <url-pattern>/Buy_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Registre</display-name>
    <servlet-name>Login_Registre</servlet-name>
    <servlet-class>com.dev.Login_Registre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Registre</servlet-name>
    <url-pattern>/Login_Registre</url-pattern>
  </servlet-mapping>
  
</web-app>